body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d7d7d7;
}

.post {
  position: relative;
  width: 900px;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #f9f9f9;
}

.delete-button {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.search-input {
  width: 500px;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: 900;
  text-align: center;

}

#app {
  margin: 20px;
}
